.main_container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.input_contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.logout_container {
    margin-top: 25px;
}

.logout_container button {
    border: none;
    background-color: rgb(49, 104, 213);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.logout_container button:hover {
    transition: 2s ease;
    background-color: #fff;
    color: rgb(23, 21, 21);
}

.loading-spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.img_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img_container img {
    margin: 25px 0px 4px 15px;
    border-radius: 18px;
    width: 350px;
    height: 550px;
}

ul {
    list-style: none;
}

h4 {
    text-align: center;
}

.input_content {
    display: flex;
    padding: 6px 10px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 2px solid  #D1D5DB;
    margin-right: 8px;
}

.input_content input {
    border: none;
    outline: none;
    width: 300px;
    background-color: transparent;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
}

.input_content ::placeholder {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.profile_link {
    margin-top: 45px;
}

.terms {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 36px;
}

.terms p {
    margin: 0px 10px;
    color: #8697bc;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.copyright {
    text-align: center;
}

.copyright p {
    color: var(--gray-500, #6B7280);
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (max-width: 736px) {

    body {
        width: 100%;
    }

    .main_container {
       width: 100%;
    }

    .img_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img_container img {
        margin: 25px 30px 2px 0px;
        border-radius: 18px;
        width: 250px;
        height: 400px;
    }

    .input_contain {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .logout_container {
        margin-top: 20px;
    }

    .input_content input {
        border: none;
        outline: none;
        width: 200px;
        background-color: transparent;
        font-family: 'DM Sans', sans-serif;
        color: #fff;
    }

    .terms p {
        margin: 0px 10px;
        color: #8697bc;
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}